Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be easily accessed, managed, and updated. It is used to store and organize information for efficient retrieval and manipulation.

SQL Databases (Relational Databases)
* Structure: SQL databases use a structured schema with tables, rows, and columns.
* Query Language: Use Structured Query Language (SQL) for data manipulation.
* Examples: MySQL, PostgreSQL, Oracle, SQLite.
* Data Model: Follow ACID properties (Atomicity, Consistency, Isolation, Durability) for reliable transactions.
* Best For: Applications requiring complex queries and structured data, e.g., banking, ERP systems.
  
NoSQL Databases (Non-Relational Databases)
* Structure: NoSQL databases use flexible schemas like documents, key-value pairs, wide-columns, or graphs.
* Query Language: No standard query language; often rely on APIs or custom query methods.
* Examples: MongoDB, Cassandra, Redis, Neo4j.
* Data Model: Prioritize scalability and performance, often following BASE properties (Basically Available, Soft state,  Eventual consistency).
* Best For: Big data, real-time analytics, and unstructured or semi-structured data, e.g., social media, IoT.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage database structures, such as tables, schemas, and indexes. DDL commands do not manipulate the data within the tables, but instead focus on the structure of the database itself.

1. CREATE
   
Use: Creates a new database object, such as a table, view, or index.
>CREATE TABLE Students (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);


2. DROP
   
Use: Deletes an existing database object, such as a table, view, or i
>DROP TABLE Students;
ndex.

3. ALTER
   
Use: Modifies an existing database object, such as a table's structure (e.g., adding or dropping colu>ALTER TABLE Students ADD Grade VARCHAR(10);
mns).

4. TRUNCATE
   
Use: Removes all rows from a table, but does not delete the table itself. It is faster than DELETE and does not log individual row d
>TRUNCATE TABLE Students;
eletion

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate and manage the data within existing database tables. It includes commands for adding, updating, and deleting data.

1. INSERT
   
Use: Adds new rows of data into a table.
>INSERT INTO Students (ID, Name, Age)
VALUES (1, 'John Doe', 20);

2. UPDATE
   
Use: Modifies existing data in a table.
>UPDATE Students
SET Age = 21
WHERE ID 1 


3. DELETE
   
Use: Removes rows from a table.
>DELETE FROM Students
WHERE ID =1;
;
;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used for querying or retrieving data from a database. It involves the SELECT statement, which is used to fetch data from one or more tables in the database.

SELECT Statement : The SELECT statement is the most commonly used DQL command. It allows you to retrieve data from a database based on specific criteria.

1. Basic SELECT : To select all columns from a table:
   >SELECT * FROM Students;
   2. SELECT Specific Columns:To select specific columns:
   >SELECT Name, Age FROM Students;
   3. SELECT with WHERE Condition: To select data based on a condition:
   >SELECT Name, Age FROM Students WHERE Age > 20;
4. SELECT with ORDER BY : To sort the retrieved data:
   >SELECT Name, Age FROM Students ORDER BY Age DESC;

Q5. Explain Primary Key and Foreign Key.

* Primary Key
Definition: A Primary Key is a column (or a set of columns) in a table that uniquely identifies each row in that table. It ensures that no two rows have the same value for the primary key column(s), providing data integrity.

Characteristics:

Must contain unique values.
Cannot contain NULL values.
There can only be one primary key in a table.
>CREATE TABLE Students (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);
                                                                                      * Foreign Key
Definition: A Foreign Key is a column (or a set of columns) in one table that uniquely identifies a row of another table. It establishes a relationship between the two tables.

Characteristics:

The values in the foreign key column must match values in the referenced tableâ€™s primary key column (or a unique key).
Allows NULL values, unless the foreign key constraint specifies otherwise.
>CREATE TABLE Enrollments (
    EnrollmentID INT PRIMARY KEY,
    StudentID INT,
    Course VARCHAR(50),
    FOREIGN KEY (StudentID) REFERENCES Students(ID)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector 

database = mysql.connector.connect(
    host = "localhost",
    user = "user_name",
    password = "your_password",
    database = "your_database"
)

cursor = database.cursor()
cursor.execute("CREATE DATABASE KING")

database.close()

1. cursor() Method
Purpose: The cursor() method creates a cursor object. This object is used to execute SQL queries and fetch results from the database.

>cursor = conn.cursor()

2. execute() Method
Purpose: The execute() method is used to execute SQL queries using the cursor object. You can use it to run SELECT, INSERT, UPDATE, DELETE, or any other SQL command.

>cursor.execute("SELECT * FROM Students")

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

* FROM

Specifies the tables or views from which to retrieve the data.
* JOIN

If you're using a JOIN clause to combine rows from two or more tables, it is processed after FROM.
* ON

Specifies the condition to join tables in case of JOIN.
* WHERE

Filters rows based on the condition specified. Only rows that meet the condition are included.
* GROUP BY

Groups rows based on one or more columns, often used with aggregate functions like COUNT(), SUM(), etc.
* HAVING

Filters groups created by GROUP BY, similar to how WHERE filters rows. It is applied after the grouping is done.
* SELECT

Specifies which columns to retrieve or operations to perform (e.g., DISTINCT, aggregate functions).
* ORDER BY

Sorts the result set based on one or more columns.
* LIMIT/OFFSET

Limits the number of rows returned or skips a specified number of rows, used for pagination.